body{
    background-color: #8F8F8F;
}
h1{
    background-color: #4F4F4F;
    margin-top: -9px;
    margin-left: -8px;
    font-size: 50px;
    padding-bottom: 50px;
}
#CardArray{
    float: left;
    width: 250px;
    height: 300px;
}
#AddCard{
    float: left;
    text-align: center;
    width: 25%;
    height: 300px;

}
#deletecard{
    float: left;
    text-align: center;
    width: 25%;
    height: 300px;
}
#editcard{
    float: left;
    text-align: center;
    width: 25%;
    height: 300px;
}
img {
    opacity: 1;
    position: absolute;
    top: 0px;
    right:0px;
    width: 250px;
    height: 13.5%;
}